@import url(https://weloveiconfonts.com/api/?family=zocial|entypo);

.App {
  text-align: center;
  background-color: rgb(10, 77, 165);
}

[class*="entypo-"]:before {
  font-family: 'entypò', sans-serif;
}

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 150px;
  filter: drop-shadow(0px 6px 10px rgba(79, 22, 170, .7));
}

.title{
  font-family: 'Old English Text MT', 'Roboto';
  padding-left: 5%;
  color: whitesmoke;
  font-size: 20pt;
  letter-spacing: 5pt;
  text-shadow: -1px 1px 5px rgba(255,255,255,.8);
}
#info{
  font-family: 'Courier New', Courier, monospace
}
.search{
  align-self: flex-end;
}

.App form {
  display: flex;
  align-items: center;
  height: 30px;
  
  padding: 5% 10% 5% 0%;
}

.group{
  display: flex;
  align-items: center;
}
.group input, button{
  height: 30px;
  padding: 0px;
  border: 0px none;
}
.group input{
  
}

.group button{
  width: 30px;
  filter:saturate(0%);
}

.group button:hover{
  background-color: rgb(179, 179, 179);
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer a:hover {
  color: gray;
}
footer{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 20pt;
  margin-top: 5px;
  background-color: black;
  
  
}
footer span{
  margin: 0% 10%;
}

@media only screen and (max-width: 600px) {
  #info{
      margin-top: 0px;
      font-size: 14pt;
      padding-top: 200px;
      color: antiquewhite;
  }
  .header{
    width: 100%;
    z-index: 2;
    position: fixed;
    padding-top: 0;
    flex-direction: column;
  }

}